@import '../../components/variables/variables.scss';

.tab-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  .tab {
    width: 50%;
    text-align: center;
    font-size: 14px;
    height: 30px;
    border-bottom: 2px solid $header-color;
    color: $header-color;
    cursor: pointer;
    outline: none;
    &:hover {
      border-bottom: 2px solid $tab-color-hover;
      color: $tab-color-hover;
    }
  }
}