@import '../../components/variables/variables.scss';

.my-goals {
  label {
    @include label__small;
  }
  .my-goals__items {
    font-size: $font-size__small;
    list-style-type: none;
    color: $regular-font-color;
    .my-goals__item {
      width: 100%;
      margin-top: 10px;
      .my-goal__item-top,
      .my-goal__item-bottom {
        display: flex;
        justify-content: space-between;
        button {
          background-color: rgb(20, 20, 22);
          color: $price-date-color;
          border: none;
          cursor: pointer;
          outline: none;
          font-size: $font-size__small;
        }
        span {
          color: $price-date-color;
        }
        .my-goal__line-background {
          width: 200px;
          height: 5px;
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.3);
          margin-top: 5px;
          .my-goal__line {
            width: 70%;
            height: 4px;
            border-radius: 5px;
            background-color: $line-color__green;
          }
        }
      }
    }
  }
}