@import "../../components/variables/variables.scss";

.send-money__recent,
.recent-operations__today {
  @include label;
}
.contacts-con {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  .plus-btn {
    @include object-centered;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 35px;
    background-color: $label-color;
    color: $regular-font-color;
    cursor: pointer;
  }
  .img-con {
    overflow: auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.send-money__photos {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 13px;
  cursor: pointer;
}
.recent-operations {
  display: flex;
  align-items: center;
  margin-top: 12px;
  color: $regular-font-color;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
  }
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }
  .recent-operations__info {
    display: flex;
    justify-content: space-between;
    font-size: $font-size__regular;
    margin-left: 10px;
    width: 87%;
  }
}
