@import "../../components/variables/variables.scss";

.spending-breakdown__items {
  margin-top: 10px;
  list-style-type: none;
  .spending-breakdown__type {
    font-size: $font-size__regular;
    color: $regular-font-color;
  }
  .spending-breakdown__price {
    display: flex;
    justify-content: space-between;
    color: $price-date-color;
    font-size: $font-size__small;
    .spending-breakdown__line-background {
      width: 200px;
      height: 5px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.3);
      .spending-breakdown__line {
        height: 4px;
        border-radius: 5px;
        background-color: $line-color__green;
      }
    }
  }
}