@import "../../components/variables/variables.scss";

.home__upcoming-bills-month {
  @include label;
}
.bills {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .bills__left {
    width: 80%;
    display: flex;
    .bills__img-con {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color:rgb(45, 48, 55);
      border-radius: 50%;
      img {
        width: 25px;
        height: 25px;
      }
    }

    .bills__left-info {
      margin-left: 10px;
      p {
        color: $regular-font-color;
        font-size: $font-size__regular;
      }

      .bills__date {
        color: $price-date-color;
        margin-top: 5px;
        font-size: $font-size__small;
      }
    }
  }
  .bills__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    font-size: $font-size__regular;
    color: $regular-font-color;
    button {
      background-color: rgb(20, 20, 22);
      color: $price-date-color;
      border: none;
      cursor: pointer;
      outline: none;
      font-size: $font-size__small;
    }
  }
}

@media screen and (max-width: 800px) {
  .bills {
    .bills__right {
      width: 15%;
    }
  }
}
