@import "../components/variables/variables.scss";

.history {
  width: 96%;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-gap: 55px;
  .history__transactions-items-today {
    padding-bottom: 10px;
  }
  .history__transactions-items-yesterday,
  .history__transactions-items-days-ago {
    border-top: 2px solid $header-color;
    padding-bottom: 10px; 
  }
  .history__bills-items-con {
    padding-bottom: 10px;
    border-top: 2px solid $header-color;
    &:nth-child(1) {
      border: none;
    }
    .scroll-con {
      height: 157px;
      overflow: hidden;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .history__transactions-date,
  .history__bills-items-date {
    width: 70px;
    background-color: rgb(40, 41, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: rgb(116, 116, 116);
    font-size: 12px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}


@media screen and (max-width: 800px) {
  .history {
    grid-template-columns: 100%;
    .history__bills {
      padding-bottom: 20px;
    }
  }
}