.home {
  width: 96%;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .home {
    grid-template-columns: 60%;
    justify-content: center;
    .home__right {
      padding-bottom: 20px;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 760px) {
  .home {
    grid-template-columns: 70%;
  }
}

@media screen and (max-width: 600px) {
  .home {
    grid-template-columns: 100%;
  }
}
