.investing {
  width: 96%;
  display: grid;
  justify-content: space-between;
  overflow: hidden;
  grid-template-columns: repeat(2, 49%);
}

@media screen and (max-width: 1200px) {
  .investing {
    grid-template-columns: 720px;
    justify-content: center;
    .investing__right {
      padding-bottom: 20px;
    }
  }
}

@media screen and (max-width: 780px) {
  .investing {
    grid-template-columns: 520px;
  }
}

@media screen and (max-width: 580px) {
  .investing {
    grid-template-columns: 420px;
  }
}