@import "../../components/variables/variables.scss";

.send-money__input-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: $font-size__regular;
  color: $price-date-color;
  input {
    outline: none;
    border: 2px solid rgb(40, 41, 46);
    width: 70%;
    height: 45px;
    border-radius: 10px;
    background-color: rgb(20, 20, 22);
    padding-left: 10px;
    color: $price-date-color;
    &::placeholder {
      color: $price-date-color;
    }
  }
  label {
    font-size: $font-size__small;
    margin-top: 10px;
  }
}
.send-money__contacts {
  height: 465px;
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    .send-money__contacts-item {
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      list-style-type: none;
      width: 80%;
      font-size: $font-size__regular;
      margin-top: 12px;
      color: $regular-font-color;
      border-radius: 10px;
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
      p {
        margin-left: 10px;
      }
    }
  }
}