@import "../../components/variables/variables.scss";

.transfer__input-header {
  margin-top: 10px;
  font-size: $font-size__small;
  color: $price-date-color;
  margin-left: 40px;
}
.transfer__input-form-con {
  position: relative;
  font-size: $font-size__small;
  label {
    display: flex;
    justify-content: space-between;
    color: $price-date-color;
    margin-top: 10px;
    margin-left: 17.5%;
    position: absolute;
    left: 0;
  }
}
.transfer__my-card-con {
  display: flex;
  justify-content: center;
  .transfer__my-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: 2px solid $label-color;
    width: 70%;
    height: 45px;
    border-radius: 10px;
    background-color: rgb(20, 20, 22);
    padding: 0 10px 0 10px;
    color: $price-date-color;
    font-size: $font-size__small;
    .transfer__my-card-info {
      p:last-child {
        color: $regular-font-color;
      }
    }
    img {
      height: 33px;
      border-radius: 3px;
      object-fit: cover;
    }
  }
}

.transfer__input-form {
  display: flex;
  justify-content: center;
  .transfer__input-first {
    margin-top: 5px;
    outline: none;
    border: 2px solid $label-color;
    width: 70%;
    height: 45px;
    border-radius: 10px;
    background-color: rgb(20, 20, 22);
    padding-left: 10px;
    color: $price-date-color;
    padding-top: 20px;
    &::placeholder {
      color: $price-date-color;
    }
  }
}
.transfer__input-second {
  margin-top: 5px;
  outline: none;
  border: 1px solid $label-color;
  width: 70%;
  height: 45px;
  border-radius: 10px;
  background-color: rgb(20, 20, 22);
  padding-left: 10px;
  color: $price-date-color;
  &::placeholder {
    color: $price-date-color;
  }
}
.transfer__button-con {
  padding: 0px 40px 0px 40px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin-top: 10px;
    width: 50%;
    font-size: $font-size__small;
    color: $price-date-color;
  }
  button {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(48, 49, 53);
    color: $price-date-color;
    border: none;
    cursor: pointer;
    outline: none;
  }
}
.transfer__from-card,
.transfer__transfers {
  display: flex;
  align-items: center;
  margin-left: 9%;
  width: 83%;
  border: 2px solid $label-color;
  height: 100px;
  margin-top: 20px;
  border-radius: 10px;
  padding-left: 40px;
  cursor: pointer;
  .transfer__icon-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $icon-con-color;
    .transfer__icon {
      font-size: 20px;
      color: $regular-font-color;
    }
  }
  p {
    margin-left: 20px;
    font-size: $font-size__regular;
    color: $regular-font-color;
  }
}

@media screen and (max-width: 1160px) {
  .transfer__button-con {
    flex-direction: column;
    text-align: center;
    p {
      width: 100%;
    }
    button {
      width: 60%;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .transfer__button-con {
    button {
      width: 40%;
      margin-top: 10px;
    }
  }
}
