@import './variables/variables.scss';

.navbar-con {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .navbar {
    height: 65px;
    width: 96%;
    background-color: $navbar-color;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    .paypal__icon {      
      color: $navbar__icon-color;
      margin-left: 2%;
    }
    .navbar__items {
      list-style: none;
      width: 350px;
      display: flex;
      justify-content: space-between;
      .navbar__item {
        width: 50px;
        height: 50px;
        font-size: 10px;
        cursor: pointer;
        border-radius: 10px;
        background-color: $navbar-icon__background-color;
        box-shadow: 5px 5px 5px black;
        .navbar__items-icon {
          height: 70%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 25px;
          }
        }
        .navbar__items-name {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          height: 10%;
          color: $navbar__icon-color;
        }
      }
      .main-nav-active {
        background-color: rgb(55, 56, 60);
      }
    }
    .navbar__settings {
      margin-right: 2%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100px;
      .navbar__settings-icon {
        cursor: pointer;
      }
      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
        &:nth-child(3) {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .navbar-con {
    .navbar {
      .navbar__items {
        width: 300px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar-con {
    .navbar {
      justify-content: center;
      .paypal__icon {
        display: none;
      }
      .navbar__items {
        width: 350px;
      }
      .navbar__settings {
        display: none;
      }
    }
  }
}