@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 20, 22);
  font-family: "Open Sans Condensed", sans-serif;
  height: 98vh;
  .pages {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
