@import "../../components/variables/variables.scss";

.transactions__item {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size__regular;
  border-radius: 10px;
  margin-top: 10px;
  color: $regular-font-color;
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .transactions__item-left {
    display: flex;
    align-items: center;
    width: 250px;
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
    p {
      margin-left: 15px;
    }
  }
}
