@import "../../components/variables/variables.scss";

.expenses-income {
  display: flex;
  justify-content: space-between;
  height: 20%;
  .expenses,
  .income {
    width: 49%;
  }
  .expenses__sum,
  .income__sum {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: $regular-font-color;
    span {
      margin-left: 10px;
      font-size: 20px;
      margin-top: 20px;
      color: $price-date-color;
    }
  }
}

@media screen and (max-width: 800px) {
  .expenses__sum,
  .income__sum {
    height: 60%;
    font-size: 35px;
  }
}