@import "../../components/variables/variables.scss";

.spending-breakdown__item {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  border-radius: 10px;
  color: $regular-font-color;
  font-size: $font-size__regular;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .spending-breakdown__left {
    display: flex;
    align-items: center;
    font-size: $font-size__regular;
      .spending-breakdown__icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 25px;  
          object-fit: cover;
        }
      }
    .spending-breakdown__name {
      width: 350px;
      height: 35px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-left: 10px;
      margin-bottom: 5px;
      div {
        height: 7px;
        border-radius: 10px;
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .spending-breakdown__item {
    .spending-breakdown__left {
      .spending-breakdown__name {
        width: 300px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .spending-breakdown__item {
    .spending-breakdown__left {
      .spending-breakdown__name {
        width: 400px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .spending-breakdown__item {
    .spending-breakdown__left {
      .spending-breakdown__name {
        width: 300px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .spending-breakdown__item {
    .spending-breakdown__left {
      .spending-breakdown__name {
        width: 250px;
      }
    }
  }
}
